.post {
    padding: 35px;
    background: #fff;
    margin-bottom: 35px;
    position: relative;
    overflow: hidden;
}

.post .post-head {
    text-align: center;
}

.post .post-head .post-title {
    margin: 0;
    font-size: 2em;
    line-height: 1.2em;
}

.post .post-head .post-title a {
    color: #303030;
}

.post .post-head .post-meta {
    color: #959595;
    margin: 14px 0 0;
}

.post .post-head .post-meta span {
    margin: 0 7px;
    white-space: nowrap;
}

.post-content {
    font: 400 18px/1.62 Georgia, "Xin Gothic", "Hiragino Sans GB", "Droid Sans Fallback", "Microsoft YaHei", sans-serif;
    color: #444443;
}

.pagination {
    margin: 0 0 35px;
    text-align: center;
    display: block;
}

.tagcloud a {
    display: block;
    padding: 11px 30px;
    color: #333;
    font-size: 16px;
    border: 1px solid #e6e7e8;
    border-radius: 18px;
    background-color: #fff;
    text-decoration: none;
    white-space: nowrap;
    -o-box-shadow: 6px 4px 8px 0 rgba(151, 142, 136, .34);
    -ms-box-shadow: 6px 4px 8px 0 rgba(151, 142, 136, .34);
    -moz-box-shadow: 6px 4px 8px 0 rgba(151, 142, 136, .34);
    -webkit-box-shadow: 6px 4px 8px 0 rgba(151, 142, 136, .34);
    box-shadow: 6px 4px 8px 0 rgba(151, 142, 136, .34);
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4,Direction=135, Color='#000000')";
    /*兼容ie7/8*/
    filter: progid:DXImageTransform.Microsoft.Shadow(color='#969696', Direction=125, Strength=9);
    /*strength是阴影大小，direction是阴影方位，单位为度，可以为负数，color是阴影颜色 （尽量使用数字）使用IE滤镜实现盒子阴影的盒子必须是行元素或以行元素显示（block或inline-block;）*/
}

.tagcloud a:hover {
    color: #3385cf;
}