.vscode
*.pyc
.pytest_cache
env
venv
migrations
posts
.idea
logs
.coverage


.DS_Store
front/node_modules
front/dist

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
