{% macro render_archives(post_dict, total_count,pagination) -%}
{% import "macro/pagination.html" as macro_pagination %}
<h3 class="mt-2">归档:{{total_count}}篇</h3>
{% for time_label, posts in post_dict.items() %}
<ul class="list-group list-group-flush">
    <li class="list-group-item d-flex align-items-center">
        <h4 class="text-muted">{{time_label}}</h4>
      </li>
    {% for post in posts %}
    <li class="list-group-item d-flex justify-content-between align-items-center">
        <a href='post/{{post.title}}' class="text-decoration-none text-secondary"><h5>{{post.title}}</h5></a>
        <span class="text-muted">{{post.create_at}}</span>
    </li>
    {%endfor%}
{% endfor %}
{{macro_pagination.timeline_pagination_widget(pagination,'main.timeline')}}
</ul>

{%- endmacro %}