{% macro render_post_list(posts,pagination) -%}
<div id="content" style="display:none">
  {%for post in posts %}
  <div class="card shadow  mb-5 bg-white rounded max-vh-2 border-0">
    <div class="row no-gutters">
      <div class="col-md-4">
        {%if post.cover%}
        {% set cover = post.cover %}
        <img src="{{cover}}" class="card-img" alt="..." style="height: 12rem;min-height: 12rem;">
        {%else%}
        <svg class="bd-placeholder-img rounded" height="12rem" focusable="false" role="img"></svg>
        {%endif%}
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <a href="/post/{{post.id}}/{{escape_html(post.title)}}" class="text-decoration-none text-reset">
            <h5 class="card-title font-weight-bolder">{{post.title}}</h5>
          </a>
          <p class="card-text">
            {{ post.content |  truncate(200) | safe }}
          </p>
        </div>
      </div>
      <div class="card-footer col-md-12 px-2 bg-light border-0">
        <p class="card-text">
          <small class="badge badge-light rounded-pill" style="color: #7f8f9f;font-size: 100%;font-weight: normal;"><i
              class="fa fa-calendar mx-1" aria-hidden="true"></i>{{post.create_at}}</small>

          <small class="badge badge-light rounded-pill" style="color: #7f8f9f;font-size: 100%;font-weight: normal;">
            <i class="fa fa-eye  mx-1" aria-hidden="true"></i>
            {%if post.postviews | length  == 0 -%}
            0 views
            {%else%}
            {{total_views(post.postviews)}} views
            {%- endif%}
          </small>
          <small class="badge badge-light rounded-pill" style="color: #7f8f9f;font-size: 100%;font-weight: normal;"><i
              class="fa fa-comments-o mx-1" aria-hidden="true"></i>{{post.comments | length}} 条评论</small>
          <a class="badge badge-light rounded-pill float-right" href="/post/{{post.id}}/{{escape_html(post.title)}}"
            style="color: #7f8f9f;font-size: 100%;font-weight: normal;">阅读全文<i class="fa fa-long-arrow-right"
              aria-hidden="true"></i></a>

        </p>
      </div>
    </div>
  </div>
  {% endfor %}
  {%if posts%}
  {% import "macro/pagination.html" as macro_pagination %}
  {{macro_pagination.pagination_widget(pagination,'main.index')}}
  {%endif%}
</div>
{%- endmacro %}

{% macro render_tag_post_list(posts,pagination,tag) -%}
{%for post in posts %}
<div class="card shadow  mb-5 bg-white rounded max-vh-2 border-0">
  <div class="card-body">
    <a href="/post/{{post.title}}" class="text-decoration-none text-reset">
      <h5 class="card-title font-weight-bolder">{{post.title}}</h5>
    </a>
  </div>
  <div class="card-footer col-md-12 px-2 bg-light border-0">
    <p class="card-text">
      <small class="badge badge-light rounded-pill" style="color: #7f8f9f;font-size: 100%;font-weight: normal;"><i
          class="fa fa-calendar mx-1" aria-hidden="true"></i>{{post.create_at}}</small>

      <small class="badge badge-light rounded-pill" style="color: #7f8f9f;font-size: 100%;font-weight: normal;">
        <i class="fa fa-eye  mx-1" aria-hidden="true"></i>
        {%if post.postviews | length  == 0 -%}
        0 views
        {%else%}
        {{total_views(post.postviews)}} views
        {%- endif%}
      </small>
      <small class="badge badge-light rounded-pill" style="color: #7f8f9f;font-size: 100%;font-weight: normal;"><i
          class="fa fa-comments-o mx-1" aria-hidden="true"></i>{{post.comments | length}} 条评论</small>
      <a class="badge badge-light rounded-pill float-right" href="/post/{{post.title}}"
        style="color: #7f8f9f;font-size: 100%;font-weight: normal;">阅读全文<i class="fa fa-long-arrow-right"
          aria-hidden="true"></i></a>

    </p>
  </div>
</div>
{% endfor %}
{%if posts%}
{% import "macro/pagination.html" as macro_pagination %}
{{macro_pagination.pagination_widget(pagination,'main.tag',tag=tag)}}
{%endif%}
{%- endmacro %}