{% extends 'admin/master.html' %}
{% import 'admin/peach-lib.html' as lib with context %}
{% from 'admin/peach-lib.html' import extra with context %} {# backward compatible #}

{% block head %}
  {{ super() }}
  {{ lib.form_css() }}
  <link href="{{ url_for('static', filename='plugins/editor.md/css/editormd.min.css')}}" rel='stylesheet'>
{% endblock %}

{% block body %}
<div class="container">
        <!-- 路径导航 -->
        
        <ol class="breadcrumb">
                <li><a href="/admin/">Home</a></li>
                <li>
                    {% set menu_root = admin_view.admin.menu() %}
                    <a href="#">{% if admin_view.category %}{{ admin_view.category }}{% endif %}{{ admin_view.name }}</a>
                </li>
        </ol>
  {% block navlinks %}
  <ul class="nav nav-tabs">
    <li>
        <a href="{{ return_url }}">{{ _gettext('List') }}</a>
    </li>
    <li class="active">
        <a href="javascript:void(0)">{{ _gettext('Create') }}</a>
    </li>
  </ul>
  {% endblock %}

  {% block create_form %}
    {{ lib.render_form(form, return_url, extra(), form_opts) }}
  {% endblock %}
</div>
{% endblock %}

{% block tail %}
  {{ super() }}
  {{ lib.form_js() }}
  <script src="{{ url_for('static', filename='plugins/editor.md/editormd.js')}}"></script>
  <script type="text/javascript">
    $(function() {
        var editor = editormd("editormd", {
            path : "/plugins/editor.md/lib/",
            height  : 640,
            imageUpload : true,
            imageFormats : ["jpg", "jpeg", "gif", "png", "bmp", "webp"],
            imageUploadURL : "/api/v1/image",
        });
    });
  </script>
{% endblock %}
