body {
    color: #505050;
    line-height: 1.75em;
    background: #ebebeb;
    position: relative;
}

.widget {
    background: #ffffff;
    padding: 21px 30px;
    margin-bottom: 35px;
}

.widget .title {
    margin-top: 0;
    padding-bottom: 7px;
    border-bottom: 1px solid #ebebeb;
    margin-bottom: 21px;
    position: relative;
}

.copyright {
    background: #111;
    font-size: 13px;
    text-align: center;
    color: #555555;
    padding-top: 28px;
    padding-bottom: 28px;
    border-top: 1px solid #303030;
}

.copyright_link {
    text-decoration: none;
    color: #555555;
}

.widget .title:after {
    content: "";
    width: 90px;
    height: 1px;
    background: #e67e22;
    position: absolute;
    left: 0;
    bottom: -1px;
}

.widget .tag-item a {
    border: 1px solid #ebebeb;
    padding: 2px 7px;
    color: #959595;
    line-height: 1.5em;
    display: inline-block;
    margin: 0 7px 7px 0;
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.widget .tag-item a:hover {
    color: #ffffff;
    background: #e67e22;
    border: 1px solid #e67e22;
    text-decoration: none;
}

.widget .download a {
    width: 100%;
}

.wechat {
    text-align: center;
}