{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}PeachBlog - Login{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='auth/login.css') }}">
    <style>
        body {
            background-image: url({{ url_for('static',filename='imgs/login-bg.jpg') }});
        }
    </style>
{% endblock %}
{% block content %}
    {{ super() }}
    <div class="container">
            {% for message in get_flashed_messages() %}
                <div class="alert alert-warning">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {{ message }}
                </div>
            {% endfor %}
    </div>
    <div class="container" style="margin-top: 5%">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="page-header">
                        <div class="row">
                            <div class="col-md-8 col-sm-12">
                                <h3>登录PeachBlog</h3>
                                <small>登陆后进入管理系统</small>
                            </div>
                            <div class="col-md-4">
                                <i class="glyphicon glyphicon-heart" style="width: 100%;"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    {{ wtf.quick_form(form) }}
                    <br><a href="/">返回主页</a>
                </div>
            </div>
        </div>
    </div>


{% endblock %}