[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
flask-restful = "*"
flask-sqlalchemy = "*"
pymysql = "*"
flask-jwt-extended = "*"
flask-cors = "*"
flask-migrate = "*"
markdown = "*"

[requires]
python_version = "3.6"
