{% macro render_friend_links(friend_links, comments, pagination) -%}
<div class="row">
    {%for friend_link in friend_links %}
    <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
            <img src="{{friend_link.avatar}}" alt="{{friend_link.friend_name}}">
            <div class="caption">
                <a href="{{friend_link.website}}"><h3>{{friend_link.friend_name}}</h3></a>
                <p>
                    {% if friend_link.introduction %}
                        {{friend_link.introduction | safe}}
                    {%else%}
                        他很懒,什么话也没有说...
                    {%endif%}
                </p>
            </div>
        </div>
    </div>
    {%endfor%}
</div>
{%if comments%}
<ul class="media-list panel-body" style="background-color:#fff">
    {% for comment in comments%}
    <li class="media">
        <div class="media-left">
            <a href="#">
                <img class="media-object" src="http://www.gravatar.com/avatar/{{ md5(comment.email)}}?s=64" alt="...">
            </a>
        </div>
        <div class="media-body">
            <small class="media-heading">
                <span class="glyphicon glyphicon-user"></span>&nbsp;<a href="{{comment.website}}"><span class="label label-primary">{{comment.user_name}}</span></a>
                <span class="glyphicon glyphicon-time"></span>&nbsp;{{comment.message_time}}
                <span class="label label-danger">{{comment.browser}}</span>
                <span class="label label-warning">{{comment.platform}}</span>
            </small>
            <p>{{comment.message | markdown }}</p>
        </div>
    </li>
    {%endfor%}
</ul>
{%endif%}
{%if comments%}
{% import "macro/pagination.html" as macro_pagination %}
{{macro_pagination.pagination_widget(pagination,'main.friend_links')}}
{%endif%}
{%- endmacro %}