{% macro render_post(post, comments, pagination,reply_form) -%}
<div class="card border-0 shadow mb-3 bg-white rounded">
    <nav aria-label="breadcrumb" style="width: 100%;">
        <ol class="breadcrumb bg-light">
            <li class="breadcrumb-item"><a href="/">首页</a></li>
            <li class="breadcrumb-item active" aria-current="page"><a
                    href="/tag/{{post.tags[0].tag}}">{{post.tags[0].tag}}</a></li>
            <li class="breadcrumb-item active" aria-current="page">正文</li>
        </ol>
    </nav>
    <div class="card-body mt-0">
        <h1 class="card-title">{{post.title}}</h1>
        <p class="card-subtitle">
            <small class="badge badge-light rounded-pill text-black-50" style="font-size: 100%;font-weight: normal;"><i
                    class="fa fa-calendar mx-1" aria-hidden="true"></i>{{post.create_at}}</small>

            <small class="badge badge-light rounded-pill text-black-50" style="font-size: 100%;font-weight: normal;">
                <i class="fa fa-eye  mx-1" aria-hidden="true"></i>
                {{total_views(post.postviews)}}次阅读
            </small>
            <small class="badge badge-light rounded-pill bg-light text-black-50"
                style="font-size: 100%;font-weight: normal;"><i class="fa fa-comments-o mx-1"
                    aria-hidden="true"></i>{{post.comments | length}} 条评论</small>
        </p>
        <div class="card-text mt-5">
            <div class="post-content" style="display:none">
                {{ post.content}}
            </div>
        </div>
        <div class="alert alert-success">
            <i class="fa fa-lightbulb-o" aria-hidden="true"></i>作品采用知识共享署名-非商业性使用-相同方式共享 4.0 国际许可协议进行许可
        </div>
    </div>

    <div class="card-footer bg-white border-top-1 mt-2">
        标签: {% for tag in post.tags%}
        <a href="/tag/{{tag.tag}}"><span
                class="text-white badge badge-pill badge-primary {{ loop.cycle('badge-success', 'badge-danger','badge-warning','badge-info') }} ">{{tag.tag}}</span></a>
        {% endfor %}
        <div class="social-share float-right" data-sites="weibo,qq,qzone,douban,wechat"></div>
    </div>

</div>
<div class="card">

    {%if comments%}
    <div class="card-header bg-light">
        <b>文章评论({{comments|length}})</b>
    </div>
    <div class="card-body">
        <ul class="list-unstyled">
            {% for comment in comments%}
            {% if comment.parent_id%}
            {% set media_class = "shadow-none p-3 mb-5 bg-light rounded media"%}
            {% else %}
            {% set media_class = "media" %}
            {%endif%}
            <li class="{{media_class}}">
                <img class="mr-3" src="http://www.gravatar.com/avatar/{{ md5(comment.email)}}?s=64"
                    alt="{{comment.user_name}}">
                <div class="media-body">
                    <p class="mt-0 badge badge-pill badge-light"><i class="fa fa-user-o" aria-hidden="true"></i><a
                            href="{{comment.website}}" class="text-reset text-decoration-none">{{comment.user_name}}</a>
                    </p>
                    <small class="text-muted badge badge-pill badge-light">{{comment.comment_time}}</small>
                    <p>{{comment.comment | markdown }}</p>
                    <p>
                        {% if comment.browser in ("chrome","firefox","edge","safari")%}
                        <a class="badge badge-light"><i class="fa fa-{{comment.browser}}" aria-hidden="true"></i></a>
                        {%else%}
                        <a class="badge badge-light">
                            <i class="fa fa-internet-explorer" aria-hidden="true"></i>
                        </a>
                        {%endif%}
                        {%if comment.platform in ("windows","linux","android")%}
                        <a class="badge badge-light">
                            <i class="fa fa-{{comment.platform}}" aria-hidden="true"></i>
                        </a>
                        {%elif comment.platform in("iphone","macos")%}
                        <a class="badge badge-light"><i class="fa fa-apple" aria-hidden="true"></i></a>
                        {%else%}
                        <a class="badge badge-light">
                            <i class="fa fa-question" aria-hidden="true"></i>
                        </a>
                        {%endif%}
                        <a href='javascript:void(0)' class="reply-button" data-parent="{{comment.id}}"
                            data-parent-name="{{comment.user_name}}"><span style="float:right"><i class="fa fa-share"
                                    aria-hidden="true"></i></span></a>
                    </p>
                </div>
            </li>
            {%endfor%}
        </ul>
        {%if comments%}
        {% import "macro/pagination.html" as macro_pagination %}
        {{macro_pagination.pagination_widget(pagination,'main.post',title=post.title)}}
        {%endif%}
    </div>
    {% endif %}
</div>
{%- endmacro %}