{% macro render_post_list(posts,pagination) -%}
  {%for post in posts %}
  <article class="post">
    <div class="post-head">
      <h1 class="post-title"><a href="/post/{{post.title}}">{{post.title}}</a></h1>
      {% for tag in post.tags%}
        <a href="/tag/{{tag.tag}}"><span class="label label-info">{{tag.tag}}</span></a>
      {% endfor %}
          <div class="post-meta">
            <span class="author"><span class="glyphicon glyphicon-user"></span> <a href="#" target="_blank">Leetao</a></span></span>
            <time class="post-date"><span class="glyphicon glyphicon-calendar"></span>{{post.create_at}}</time>
            <span class='post-views'><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>&nbsp;
            {%if post.postviews | length  == 0%}
               0
            {%else%}
              {{total_views(post.postviews)}}
            {%endif%}
            </span>
            <span class='comments'><span class="glyphicon glyphicon-comment"  aria-hidden="true"></span>&nbsp;{{post.comments | length}}</span>
          </div>
    </div>
    <div class="post-content">
        {{ post.content |  truncate(200) | markdown | safe }}
    </div>
    <div>
      <p><a class="btn btn-default" href="/post/{{post.title}}" role="button">阅读全文</a></p>
    </div>
  </article>
  {% endfor %}

  {%if posts%}
  {% import "macro/pagination.html" as macro_pagination %}
  {{macro_pagination.pagination_widget(pagination,'main.index')}}
  {%endif%}
{%- endmacro %}

{% macro render_tag_post_list(posts,pagination,tag_id) -%}
  {%for post in posts %}
  <article class="post">
    <div class="post-head">
      <h1 class="post-title"><a href="/post/{{post.title}}">{{post.title}}</a></h1>
      {% for tag in post.tags%}
      <a href="/tag/{{tag.tag}}"><span class="label label-info">{{tag.tag}}</span></a>
      {% endfor %}
          <div class="post-meta">
            <span class="author"><span class="glyphicon glyphicon-user"></span> <a href="#" target="_blank">Leetao</a></span></span>
            <time class="post-date"><span class="glyphicon glyphicon-calendar"></span>{{post.create_at}}</time>
            <span class='post-views'><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>&nbsp;
            {%if post.postviews | length  == 0%}
               0
            {%else%}
              {{post.postviews[0].views}}
            {%endif%}
            </span>
            <span class='comments'><span class="glyphicon glyphicon-comment"  aria-hidden="true"></span>&nbsp;{{post.comments | length}}</span>
          </div>
    </div>
    <div class="post-content">
        {{ post.content |  truncate(200) | markdown | safe }}
    </div>
    <div>
      <p><a class="btn btn-default" href="/post/{{post.title}}" role="button">阅读全文</a></p>
    </div>
  </article>
  {% endfor %}

  {%if posts%}
  {% import "macro/pagination.html" as macro_pagination %}
  {{macro_pagination.pagination_widget(pagination,'main.tag',tag=tag)}}
  {%endif%}
{%- endmacro %}