{% macro render_post(post, comments, pagination) -%}
<article class="post">
    <div class="post-head">
        <h1 class="post-title"><a href="/post/{{post.id}}">{{post.title}}</a></h1>
        {% for tag in post.tags%}
        <span class="label label-info">{{tag.tag}}</span>
        {% endfor %}
        <div class="post-meta">
            <span class="author"><span class="glyphicon glyphicon-user"></span> <a href="#" target="_blank">Leetao</a></span></span>
            <time class="post-date"><span class="glyphicon glyphicon-calendar"></span>{{post.create_at}}</time>
            <span class='post-views'><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>&nbsp;{{post.postviews[0].views}}</span>
            <span class='comments'><span class="glyphicon glyphicon-comment" aria-hidden="true"></span>&nbsp;{{post.comments
                | length}}</span>
        </div>
    </div>
    <div class="post-content" style="display:none">
        {{ post.content}}
    </div>
</article>

{% if comments %}
<ul class="media-list panel-body"  style="background-color:#fff">
    {% for comment in comments%}
    <li class="media">
        <div class="media-left">
            <a href="#">
                <img class="media-object" src="http://www.gravatar.com/avatar/{{ md5(comment.email)}}?s=64" alt="...">
            </a>
        </div>
        <div class="media-body">
            <small class="media-heading">
                <span class="glyphicon glyphicon-user"></span>&nbsp;<a href="{{comment.website}}"><span class="label label-primary">{{comment.user_name}}</span></a>
                <span class="glyphicon glyphicon-time"></span>&nbsp;{{comment.comment_time}}
                <span class="label label-danger">{{comment.browser}}</span>
                <span class="label label-warning">{{comment.platform}}</span>
            </small>
            <p>{{comment.comment | markdown }}</p>
        </div>
    </li>
    {%endfor%}
</ul>
{%endif%}
{%if comments%}
{% import "macro/pagination.html" as macro_pagination %}
{{macro_pagination.pagination_widget(pagination,'main.post',id=post.id)}}
{%endif%}
{%- endmacro %}