{% macro render_timeline(post_dict, pagination) -%}
<div class="timeline timeline-line-dotted">
{% import "macro/pagination.html" as macro_pagination %}
{{macro_pagination.timeline_pagination_widget(pagination,'main.timeline','pre')}}
{% for time_label, posts in post_dict.items() %}
    <span class="timeline-label">
        <span class="label label-warning">{{time_label}}</span>
    </span>
    {% for post in posts %}
    <div class="timeline-item">
        <div class="timeline-point timeline-point-danger">
            <i class="glyphicon glyphicon-star"></i>
        </div>
        <div class="timeline-event">
            <div class="timeline-heading">
                <a href='post/{{post.id}}'><h4>{{post.title}}</h4></a>
            </div>
            <div class="timeline-footer">
                <p class="text-right">{{post.create_at}}</p>
            </div>
        </div>
    </div>
    {%endfor%}
{% endfor %}
{{macro_pagination.timeline_pagination_widget(pagination,'main.timeline','next')}}
</div>
{%- endmacro %}