input#submit {
    width: 100%;
    color: white;
    background-color: #00c9dd;
    line-height: 30px;
}
input#submit:hover {
    outline: 0;
    opacity: 0.6;
    color: #fff;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.panel-default>.panel-heading {
    color: #333;
    background-color: #fff;
    border-color: #fff;
}

.panel-body {
    background: #eee;
}

i.glyphicon.glyphicon-heart {
    float: left;
    width: 25%;
    padding-top: 5px;
    font-size: 66px;
    color: #ddd;
    line-height: 100px;
    text-align: right;
}

.page-header {
    padding-bottom: 9px;
    margin: 40px 0 20px;
    border: 0;
}

.panel-heading {
    padding: 1px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}