{% extends "base.html" %}
{% block title %}Peach Blog - 404{% endblock %}
{% block head%}
{{super()}}
<link href="{{url_for('static',filename='404/index.css')}}" rel="stylesheet">
{% endblock%}
{% block content %}

<h1>404 Error Page</h1>

<p class="zoom-area"><b>Peach Blog</b> 哎呀迷路了... </p>

<section class="error-container">
  <span class="four"><span class="screen-reader-text">4</span></span>
  <span class="zero"><span class="screen-reader-text">0</span></span>
  <span class="four"><span class="screen-reader-text">4</span></span>
</section>

{%endblock%}
