{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}
{% block title %}Peach Blog - {{post.title}}{% endblock %}
{% block head%}
{{super()}}
<meta name="description" content="{{post.title}}">
<meta property="og:description" content="{{ post.content |  truncate(200) | safe }}">
<meta name="keywords" content="{{ post.tags | join(',') | safe}}">
<link href="{{url_for('static', filename='plugins/highlight/styles/atom-one-dark.css')}}" rel="stylesheet">
<link href="{{url_for('static', filename='plugins/share/share.min.css')}}" rel="stylesheet">

<style type="text/css">
.post-content img {
    width: 100%;
}
</style>
{% endblock%}
{% block content %}
{{ super() }}
<div class="container-fluid" style="margin-top:2rem;">
    <div class="row">
        <div class="col-xl-2">
            <div class="card border-0 shadow mb-5 bg-white rounded">
                <div class="card-header border-0">
                    <h5 class="text-info">文章目录</h5>
                </div>
                <div class="card-body">
                    <p class="card-text toc"></p>
                </div>
            </div>
        </div>
        <main class="col-xl-6">
            {% import "macro/post.html" as macro_posts %}
            {{ macro_posts.render_post(post,comments,pagination) }}
            <div class="card border-top-2">
                <div class="card-header bg-light">
                    <b>我来说点什么～</b>
                </div>
                <div class="card-body ">
                    <form method="POST" action="/post/{{post.title}}">
                        {{form.csrf_token}}
                        {{form.parent_id}}
                        <div class="form-row align-items-center">
                            <div class="col-lg-4">
                                <div class="input-group mb-2">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text"><i class="fa fa-user-circle-o"
                                                aria-hidden="true"></i></div>
                                    </div>
                                    {{form.user_name}}
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="input-group mb-2">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text"><i class="fa fa-envelope" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                    {{form.email}}
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="input-group mb-2">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text"><i class="fa fa-envelope" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                    {{form.website}}
                                </div>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="col-lg-12">
                                {{form.comment}}
                            </div>
                        </div>
                        <div class="form-row mt-2">
                            <button type="submit" class="btn btn-primary float-right">评论</button>
                        </div>
                    </form>
                </div>
            </div>
        </main>
        <div class="col-xl-3">
            {% include "widget/wechat.html" %}
            {% include "widget/tags.html"%}
        </div>
    </div>
</div>
</div>
{% endblock %}

{% block scripts %}
{{super()}}
<script src="{{url_for('static', filename='plugins/highlight/highlight.pack.js')}}"></script>
<script src="{{url_for('static', filename='plugins/share/jquery.share.min.js')}}"></script>

<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>

<script type="text/javascript">


    var toc = [];
    var renderer = (function () {
        var renderer = new marked.Renderer();
        renderer.heading = function (text, level, raw) {
            var anchor = this.options.headerPrefix + raw.toLowerCase().replace(/[^\w\\u4e00-\\u9fa5]]+/g, '-');
            toc.push({
                anchor: anchor,
                level: level,
                text: text
            });
            return '<h2'
                + ' id="'
                + anchor
                + '" class="border-left p-2 border-success bg-light"><b>'
                + text
                + '</b></h2>\n'
        };
        return renderer;
    })();

    marked.setOptions({
        renderer: renderer,
        highlight: code => hljs.highlightAuto(code).value,
        gfm: true,
        tables: true,
        breaks: false,
        pedantic: false,
        sanitize: true,
        smartLists: true,
        smartypants: false
    });

    var html = marked($('.post-content')[0].innerText.trim());
    var tocHTML = "<ul>"
    toc.forEach(function (entry) {
        tocHTML += '<li><a href="#' + entry.anchor + '" class="text-decoration-none text-info">' + entry.text + '</a></li>\n';
    });
    tocHTML += '</ul>\n';
    $('.toc')[0].innerHTML = tocHTML;
    $('.post-content')[0].innerHTML = html;
    $('.post-content').css("display", "");

    $('.reply-button').bind('click', function () {
        var parent_id = this.attributes['data-parent'].value;
        var parent_username = this.attributes['data-parent-name'].value;
        $('#parent_id')[0].value = parent_id;
        $('#comment')[0].value = "@" + parent_username + " " + $('#comment')[0].value;
    });

    $('.social-share').share();
</script>
{% endblock%}