{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}
{% block title %}Peach Blog - {{post.title}}{% endblock %}
{% block head%}
{{super()}}
<link href="{{url_for('static',filename='main/index.css')}}" rel="stylesheet">
<link href="{{url_for('static', filename='plugins/highlight/styles/atom-one-dark.css')}}" rel="stylesheet">
<style>
    .about-author {
    background: #ffffff;
    padding: 35px;
    margin-bottom: 35px;
}
</style>
{% endblock%}
{% block content %}
{{ super() }}
<div class="container">
    <div class="row">
        <main class="col-md-9">
            {% import "macro/post.html" as macro_posts %}
            {{ macro_posts.render_post(post,comments,pagination) }}
            <div class="panel panel-default">
                <div class="panel-heading">说点什么</div>
                <div class="panel-body ">
                    {{ wtf.quick_form(form) }}
                </div>
            </div>
        </main>
        <div class="col-md-3">
            <div class="tagcloud col-md-3" style="margin-top:80px;">
                {% for tag in peach_blog_menu%}
                <a href="/tag/{{tag.id}}">{{tag.tag}}</a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}

{% block scripts %}
{{super()}}
<script src="{{url_for('static', filename='plugins/tagcloud/tagcloud.js')}}"></script>
<script src="{{url_for('static', filename='plugins/highlight/highlight.pack.js')}}"></script>
<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
<script type="text/javascript">
    /*3D标签云*/
    tagcloud({
        selector: ".tagcloud",  //元素选择器
        fontsize: 16,       //基本字体大小, 单位px
        radius: 100,         //滚动半径, 单位px
        mspeed: "normal",   //滚动最大速度, 取值: slow, normal(默认), fast
        ispeed: "normal",   //滚动初速度, 取值: slow, normal(默认), fast
        direction: 135,     //初始滚动方向, 取值角度(顺时针360): 0对应top, 90对应left, 135对应right-bottom(默认)...
        keep: false          //鼠标移出组件后是否继续随鼠标滚动, 取值: false, true(默认) 对应 减速至初速度滚动, 随鼠标滚动
    });
    var options = {
        renderer: new marked.Renderer(),
        highlight: code => hljs.highlightAuto(code).value,
        pedantic: false,
        gfm: true,
        tables: true,
        breaks: false,
        sanitize: false,
        smartLists: true,
        smartypants: false,
        xhtml: false
    };
    $('.post-content')[0].innerHTML = marked($('.post-content')[0].innerHTML, options)
    $('.post-content').css("display","");
</script>
{% endblock%}