{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}
{% block title %}Peach Blog - {{post.title}}{% endblock %}
{% block head%}
{{super()}}
<link href="{{url_for('static',filename='main/index.css')}}" rel="stylesheet">
<link href="{{url_for('static', filename='plugins/highlight/styles/atom-one-dark.css')}}" rel="stylesheet">
<link href="{{url_for('static', filename='post.css')}}" rel="stylesheet">
{% endblock%}
{% block content %}
{{ super() }}
<div class="container">
    <div class="row">
        <main class="col-md-8">
            {% import "macro/post.html" as macro_posts %}
            {{ macro_posts.render_post(post,comments,pagination) }}
            <div class="panel panel-default">
                <div class="panel-heading">说点什么</div>
                <div class="panel-body ">
                    {{ wtf.quick_form(form) }}
                </div>
            </div>
        </main>
        <div class="col-md-4">
                {% include "widget/wechat.html" %}
                {% include "widget/tags.html"%}
                {% include "widget/download.html"%}
        </div>
    </div>
</div>
</div>
{% endblock %}

{% block scripts %}
{{super()}}
<script src="{{url_for('static', filename='plugins/highlight/highlight.pack.js')}}"></script>
<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
<script type="text/javascript">


    var toc = [];
    var renderer = (function () {
        var renderer = new marked.Renderer();
        renderer.heading = function (text, level, raw) {
            var anchor = this.options.headerPrefix + raw.toLowerCase().replace(/[^\w\\u4e00-\\u9fa5]]+/g, '-');
            toc.push({
                anchor: anchor,
                level: level,
                text: text
            });
            return '<h'
                + level
                + ' id="'
                + anchor
                + '">'
                + text
                + '</h'
                + level
                + '>\n'
        };
        return renderer;
    })();

    marked.setOptions({
        renderer: renderer,
        highlight: code => hljs.highlightAuto(code).value,
        gfm: true,
        tables: true,
        breaks: false,
        pedantic: false,
        sanitize: true,
        smartLists: true,
        smartypants: false
    });

    var html = marked($('.post-content')[0].innerText);
    var tocHTML = '<h1 id="table-of-contents">目录</h1>\n<ul>';
    toc.forEach(function (entry) {
        tocHTML += '<li><a href="#' + entry.anchor + '">' + entry.text + '</a></li>\n';
    });
    tocHTML += '</ul>\n';
    $('.post-content')[0].innerHTML = tocHTML + html;
    $('.post-content').css("display","");

    $('.reply-button').bind('click',function( ){
        var parent_id = this.attributes['data-parent'].value;
        var parent_username = this.attributes['data-parent-name'].value;
        $('.form')[0].parent_id.value = parent_id;
        $('.form')[0].comment.value = "@"+parent_username + " " + $('.form')[0].comment.value;
    });
</script>
{% endblock%}