{% extends "base.html" %}
{% block title %}Leetao's Blog - {{keyword}} 查询结果{% endblock %}
{% block head%}
{{super()}}
<link href="{{url_for('static',filename='main/index.css')}}" rel="stylesheet">
{% endblock%}
{% block content %}
<div class="container">
    <form method="POST" action="/search">
        <div class="input-group col-md-8" style="margin-top:2%">
            <input type="text" class="form-control input-lg" required name="keyword" placeholder="输入关键词回车...">
        </div>
    </form>
    <div class="row" style="margin-top:2%">

        <main class="col-md-8">
            <div class="panel panel-default" style="margin-top:2%">
                <div class="panel-heading">
                    <div class="page-header">
                        <h1 style="color:#5cb85c">{{keyword}} <small>搜索结果</small></h1>
                    </div>
                </div>
                <div class="list-group">
                    {% for post in posts%}
                    <a href="post/{{post.title}}" class="list-group-item">
                        <h4 class="list-group-item-heading">{{post.title}}</h4>
                        <!-- <p class="list-group-item-text">{{post.content | truncate(40) | markdown | safe }}</p> -->
                    </a>
                    {%endfor%}
                </div>
            </div>
        </main>
        <div class="col-md-4">
                {% include "widget/wechat.html" %}
                {% include "widget/tags.html"%}
                {% include "widget/download.html"%}
        </div>
    </div>
</div>
{% endblock %}