{% extends "base.html" %}
{% block title %}Peach Blog-{{tag}}{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="jumbotron" style="text-align: center;">
        <h5 class="display-4">标签:{{tag}}</h5>
    </div>
    <div class="row">
        <div class="col-xl-6 offset-xl-2">
            {% import "macro/post_list.html" as macro_posts %}
            {{ macro_posts.render_tag_post_list(posts,pagination,tag) }}
            
        </div>
        <div class="col-xl-3">
            {% include "widget/wechat.html" %}
            {% include "widget/tags.html"%}
        </div>
    </div>
</div>
{% endblock %}