{% extends "base.html" %}
{% block title %}Peach Blog{% endblock %}
{% block head%}
{{super()}}
<link href="{{url_for('static',filename='main/index.css')}}" rel="stylesheet">
{% endblock%}
{% block content %}
{{ super() }}
<div class="container">
    <div class="row">
        <main class="col-md-8">
            {% import "macro/post_list.html" as macro_posts %}
            {{ macro_posts.render_tag_post_list(posts,pagination,tag) }}
        </main>
        <div class="col-md-4">
                {% include "widget/wechat.html" %}
                {% include "widget/tags.html"%}
                {% include "widget/download.html"%}
        </div>
    </div>
</div>
</div>
{% endblock %}